.startScreen{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.startScreen h2{
    color: #121213;
    font-weight: 300;
}

.startScreen button{
    align-self: center;
    background-color: var(--color-blue);
    color: white;
    border-radius: 5px;
    border: none; 
    padding: 0.7rem; 
}

.startScreen button:hover{
    background-color: var(--color-blue);
    opacity: 0.8
}   
